.link-padding {
    padding-right: 20px !important;
}

.fixed-img {
    background-attachment: fixed;
    background-size: cover;
    min-height: 210px;
    width: 100%;
}

.icon-big {
    font-size: 45px;
}